{% extends "layout.html" %}

{% block body %}

.pages
    %h2.heading
        About Pulse
    %p
        Pulse helps you find public services near you as provided by the City of Hamilton, GO Transit and other public organizations.  Wherever you are in the Hamilton area you can quickly find out what public amenities are nearby with Pulse.

    %p
        We built Pulse because it's the app we wants for ourselves in order to better explore and understand our city.  Many times we are roaming the city wondering where the closest bus stop, park or recreation facility is: <strong>Pulse tells you!</strong>

    %p
        Pulse is designed to be with you on the go and provide the right answer when you need it.  It runs on the web for any modern smartphone including iOS, Android and BlackBerry 10.  Take Pulse with you and you'll be surprised what you can discover!

    %p
        Pulse is built on open data, public data and some secret sauce.

{% endblock %}