{% extends "layout.html" %}

{% block body %}

.pages
    %h2.heading
        Pulse Help

    %ul.help
        %li
            %h3 What is the best way to use Pulse?
            %p The best way is with your phone!
        %li
            %h3 What is the best way to use Pulse?
            %p The best way is with your phone!
        %li
            %h3 What is the best way to use Pulse?
            %p The best way is with your phone!
{% endblock %}